@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f8fafd;
    font-family: 'Inter', sans-serif;
    color: #252525;
    padding: 2rem;
    max-width: 780px;
    margin: 0 auto;
}

header {
    text-align: center;
    padding-bottom: 3rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.subtitle {
    font-size: 1.125rem;
    color: #828282;
}

.box {
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(132, 148, 165, 0.3);
    border-radius: 8px;
    margin-bottom: 3rem;
}

.password {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
}

.password .text {
    flex: 1;
}

.password .text input {
    font-family: "Inconsolata", "serif";
    font-size: 2.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    height: 52px;
    width: 100%;
    transition: all 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.password .action button {
    background-color: transparent;
    width: 42px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s;
    
}

.security-indicator {
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
}

.security-indicator .bar {
    height: 10px;
    border-radius: 5px;

    transition: all 0.2s;
}

.security-indicator .bar.completed {
    border-radius: 0px;
}

.security-indicator .bar.critical {
    background-color: #eb5757;
}

.security-indicator .bar.warning {
    background-color: #f2c94c;
}

.security-indicator .bar.safe {
    background-color: #27ae60;
}